
<!--<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">-->
<mat-toolbar color="primary" fxLayout="row">
  <span>MyApp</span>
  <span fxFlex="1 1 auto"></span> <!-- 부모에서 설정하지 않을 시 -->
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>menu</mat-icon>
    <span>home</span>
  </button>
  <button mat-menu-item routerLink="/jquery">
    <mat-icon>voicemail</mat-icon>
    <span>jquery</span>
  </button>
  <button mat-menu-item routerLink="/angular">
    <mat-icon>notifications_off</mat-icon>
    <span>angular</span>
  </button>
</mat-menu>

<div class="container">
<router-outlet></router-outlet>
</div>


