/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'assets/styles/app';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  word-break: break-all;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
}


table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  margin: 0;
  width: 100%;
  max-width: 100%;
  thead, tbody {
    tr {
      th, td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
      }
    }
  }
  thead {
    background-color: #dddddd;
  }
}

@media screen and (max-width: 599px) {
  html, body {
    font-size: 12px;
  }
}


